# Ignore build directory
build/

# Ignore other common build artifacts
*.o
*.out
*.a
*.so
*.exe
best_score.txt
draw.backup.txt

# Ignore editor/IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore system files
.DS_Store
Thumbs.db